/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  main {
    padding: 1rem;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    max-width: 150px;
    height: auto;
    margin-right: 1rem;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.2rem;
    color: #777;
  }
  